{%- comment -%}
*
* Internal Links Component
* Converts internal wiki-style links to HTML with tooltips and previews
*
{%- endcomment -%}

{%- assign replaced_content = content -%}

{%- for title in internal_link_array -%}
    {%- assign url = internal_url_array[forloop.index0] -%}
    {%- if url == nil -%}
        {%- assign link_text = '<a class="stale-link" href="' | append: 'javascript:void(0)' | append: '">' | append: title | append: '</a>' -%}
    {%- elsif url == empty -%}
        {%- assign link_text = '<a class="stale-link" href="' | append: 'javascript:void(0)' | append: '">' | append: title | append: '</a>' -%}
    {%- else -%}
        {%- assign post = site.notes | where: 'title',title -%}
        {%- if post[0].title == nil -%}
            {%- assign post = site.posts | where: 'title',title -%}
        {%- endif -%}
        {%- assign excerpt = post[0].content | markdownify | strip_html | truncate: 200 | newline_to_br -%}
        
        {%- if site.preferences.pagepreview.enabled -%}
            {%- assign link_text = '<span class="tooltip"><a href="' | append: url | append: '">' | append: title | append: '</a><span class="right bottom"><span class="tooltip-title">' | append: title | append: '</span><br/><span class="tooltip-excerpt">' | append: excerpt | append: '</span><i></i></span></span>' -%}
        {%- else -%}
            {%- assign link_text = '<span><a href="' | append: url | append: '">' | append: title | append: '</a></span>' -%}
        {%- endif -%}
    {%- endif -%}
    
    {%- assign bracket_link = '[[' | append: title | append: ']]' -%}
    {%- assign replaced_content = replaced_content | replace: bracket_link,link_text -%}
{%- endfor -%}