{%- comment -%}
*
* Link Parser Component
* Parses content for [[]] wiki-style links and categorizes them
*
{%- endcomment -%}

{%- if site.preferences.wiki_style_link.enabled -%}
    {%- assign content_array = content | split:'[[' -%}
    {%- assign external_link_delimiter = '::' -%}
    {%- assign link_joiner_delimiter = '$@' -%}

    {%- for item in content_array -%}
        {%- if forloop.index > 1 -%}
            {%- assign itemparts = item | split:']]' -%}
            {%- assign internal_link = itemparts[0] -%}
            {%- assign external_link = itemparts[0] | split:external_link_delimiter -%}
            {%- assign sidenote = itemparts[0] | split:sidenote_delimiter -%}
        
            {%- if external_link[1] == nil -%}
                {%- assign result_posts = site.posts | where: 'title',itemparts[0] -%}  
                {%- assign result_posts = site.notes | where: 'title',itemparts[0] -%}
                {%- assign result_pages = site.pages | where: 'title',itemparts[0] -%}
                {%- assign internal_links = internal_links | append: link_joiner_delimiter | append: internal_link -%}
                {%- assign internal_urls = internal_urls | append: link_joiner_delimiter | append: result_posts[0].url | append: result_pages[0].url -%}
            {%- else -%}
                {%- assign external_links = external_links | append: link_joiner_delimiter | append: external_link[0] -%}
                {%- assign external_urls = external_urls | append: link_joiner_delimiter | append: external_link[1] -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}

    {%- assign internal_url_array = internal_urls | split:link_joiner_delimiter -%}
    {%- assign internal_link_array = internal_links | split:link_joiner_delimiter -%}
    {%- assign external_url_array = external_urls | split:link_joiner_delimiter -%}
    {%- assign external_link_array = external_links | split:link_joiner_delimiter -%}
{%- endif -%}